{% extends 'base.html.twig' %}

{% block title %}Форум{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-10">
            <h5> {{ single_post.title }}</h5>

            <div>
                <b>{{ single_post.user.username }}</b>
                {{ single_post.date | date() }}
            </div>

            <div>
                {{ single_post.text | raw }}
            </div>
            {% for sub_post in single_post.subposts %}
                <div>
                    <b>{{ sub_post.user.username }}</b>
                    {{ single_post.date | date() }}
                </div>
                <div>
                    {{ sub_post.text }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
