{% extends 'base.html.twig' %}

{% block title %}Форум{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            {% for post in posts %}

                <div class="pb-4 post-grid">
                    <div>
                        <a class="more-info"
                           href="{{ path('app_show_post',{'id': post.id}) }}">{{ post.title }}</a>
                    </div>
                    <div>
                       <b>{{ post.user.username }}</b> / ответов: <b>{{ post.getSubPostsCount }}</b> /
                        {{ post.date|date('d') }} {{ mnths[post.date|date("n")] }} {{ post.date|date('Y') }}  {{ post.date|date('H:i') }}
                    </div>
                </div>

            {% endfor %}


        </div>
    </div>

{% endblock %}
